<template>
  <div class="dashboard">
    <h1 class="title">Dashboard</h1>
    <button class="feedBtn" @click="goToFeed">Explore your Follower Feed <font-awesome-icon icon="arrow-right" /></button>
    <UserComp class="user" v-if="success" :user="data" />
    <div class="devotees">
        <h2 class="matchesTitle">Devotees</h2>
        <UserList class="userListC" :userID="activeUser" />
    </div>
  </div>
</template>

<script>
import UserComp from '@/components/UserComp.vue'
import UserList from '@/components/UserList.vue'
import axios from 'axios'

export default {
    name: 'Dashboard',
    data() {
        return {
            data: null,
            activeUser: null,
            success: false,
        }
    },
    created() {
        if (sessionStorage.getItem("id")) {
            this.activeUser = parseInt(sessionStorage.getItem("id"));
        } else {
            this.$router.push({ path: "/login" });
        }
    },
    mounted() {
        if (this.activeUser != null) {
            axios.get('http://localhost:8080/user/' + this.activeUser)
                .then(result => {
                    this.data = result.data[0];
                    this.success = true;
                });
        }
    },
    methods: {
        goToFeed() {
            this.$router.push({ path: "/feed"});
        }
    },
    components: {
        UserComp,
        UserList
    },
}
</script>

<style scoped>
    .dashboard {
        display: grid;
        grid-template-areas: 
        "title feedBtn"
        "user user"
        "devotees devotees"
    }

    .title {
        grid-area: title;
    }

    .feedBtn {
        grid-area: feedBtn;
        width: 50%;
        display: block;
        box-sizing: content-box;
        padding: 10px 20px;
        height: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #1fc347;
        background-color: #59fb81;
        color: #004f14;
        transition: .1s all;
        justify-self: end;
        margin-right: 20px;
    }

    .feedBtn:hover {
        cursor: pointer;
        background-color: #2ad053;
    }

    .user {
        grid-area: user;
    }

    .devotees {
        grid-area: devotees;
        background-color: #610f55;
        color: white;
        padding: 20px;
        margin-top: 20px;
    }

    .matchesTitle {
        grid-area: matchesTitle;
        text-align: left;
    }

    .userListC {
        grid-area: userListC;
    }
</style>