<template>
    <div class="feed">
        <h1>Follower Feed</h1>
        <UserComp v-if="success && data.length > 0" :user="data[currentIndex]" :expandable="true" :compact="true" />

        <div v-if="success && data.length == 0">There are no more potential devotees in your feed :( <br>Perhaps you should consider to ascend with the ones you already have?</div>
        <div v-if="success && data.length > 0">
            <button class="like" @click="like">Recruit to your cult <font-awesome-icon icon="user-check" /></button>
            <button class="disL" @click="dislike">Shun <font-awesome-icon icon="skull" /></button>
        </div>

    </div>
</template>

<script>

import UserComp from '@/components/UserComp.vue'
import axios from 'axios'

export default {

    name: 'Feed',
    data() {
        return {
            data: [],
            currentIndex: 0,
            id: null,
            success: false
        }
    },
    methods: {
        startFunct() {
            this.id = parseInt(sessionStorage.getItem("id"));
            axios.get('http://localhost:8080/user/'+this.id+'/feed')
            .then(result => {
                this.data = result.data; //Skickas till UserComp för att skapa en "profil"
                this.success = true;
                this.currentIndex = 0;
            });
        },
        like() {
            let user1 = this.id;
            let user2 = this.data[this.currentIndex].user_id;
            axios
            .post('http://localhost:8080/user/like', {user1, user2})
                .then(() => {
                    let arrSize = this.data.length;
                    this.currentIndex++;
                    if (this.currentIndex == arrSize) {
                        this.startFunct()
                    }
                })
        },
        dislike() {
            let arrSize = this.data.length;
            this.currentIndex++;
            if (this.currentIndex == arrSize-1) {
                this.startFunct()
            }
        }
    },
    
    mounted() {
        this.startFunct()
    },
    components: {
        UserComp
    }

}
</script>

<style scoped>
    button {
        grid-area: feedBtn;
        box-sizing: content-box;
        padding: 10px 20px;
        height: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #1fc347;
        background-color: #59fb81;
        color: #004f14;
        transition: .1s all;
        justify-self: end;
        margin-right: 20px;
    }

    button:hover {
        cursor: pointer;
        background-color: #2ad053;
    }

    .disL {
        border: 1px solid #bd0000;
        background-color: red;
    }

    .disL:hover {
        background-color:#dc0000;
    }
</style>