<template>
    <div class="home">
        <h1>Are you having trouble finding recruits for your cult?</h1>
        <h3>Look no further, We have the followers you need!</h3>
        <img alt="Charles Manson" src="../assets/manson.jpg">
    </div>
</template>

<script>

export default {

    name: 'home',
    components: {
    }
}
</script>
