<template>
    <div id="login">
        <h1>Login</h1> 
        <form @submit.prevent="sendToLogin">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" v-model="input.first_name" placeholder="Name" required="true" />
            <label for="password">Password</label>
            <input type="password" name="password" v-model="input.pass" placeholder="Password" required="true" />
            <button type="submit">Login</button>
            <div v-show="error" class="error">Your login credentials might not match, please try again</div>
        </form>
    </div>
</template>

<script>
var axios = require('axios')

export default {
    name: 'Login',
    data() {
        return {
            input: {
                first_name: "",
                pass: ""
            },
            error: false,
            loggedIn: 0,
        }
    },
    methods: {
        setSessionID: function (id) {
            sessionStorage.setItem("id", id);
            this.$router.push({ path: "/dashboard"})

        },
        sendToLogin() {
            let tempData = {

                name: this.input.first_name,
                password: this.input.pass 
                
            };
            axios
            .get('http://localhost:8080/user/login?user=' + tempData.name + '&password=' + tempData.password)
            .then((result) => {
                this.loggedIn = result.data
                var onlyId = this.loggedIn["user_id"]
                if (onlyId >= 1){
                    this.setSessionID(onlyId)
                }

            }).catch((err) => {
                console.log(err);
                this.error = true;
            });
        }
    }
}
</script>

<style scoped>
    #login {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }

    input {
        display: block;
        width: 100%;
        height: 20px;
        padding: 10px 20px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
    }

    label {
        text-align: left;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #8e8e8e;
        font-weight: bold;
        font-size: 13px;
    }

    .error {
        background: red;
        color: pink;
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #750000;
    }

    button {
        width: 100%;
        display: block;
        box-sizing: content-box;
        padding: 10px 20px;
        height: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #1fc347;
        background-color: #59fb81;
        color: #004f14;
        transition: .1s all;
    }

    button:hover {
        cursor: pointer;
        background-color: #2ad053;
    }

    h1 {
        padding-left: 0;
    }
</style>