<template>
    <div id="register">
        <h1>Register</h1>
        <form @submit.prevent="sendToRegister">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" v-model="input.first_name" placeholder="Name" required="true" />

            <label for="lastName">Last name</label>
            <input type="text" name="lastName" v-model="input.last_name" placeholder="Last name" required="true" />

            <label for="mail">Email</label>
            <input type="text" name="mail" v-model="input.mail" placeholder="E-mail" required="true" />

            <label for="password">Password</label>
            <input type="password" name="password" v-model="input.pass" placeholder="Password" required="true" />

            <hr>

            <label for="city">City</label>
            <input type="text" name="city" v-model="input.town" placeholder="City" required="true" />

            <label for="dateofbirth">Birthdate</label>
            <input type="text" name="dateofbirth" v-model="input.dob" placeholder="Date of birth (YYY-MM-DD)" required="true" /> 

            <label for="image">Image URL</label>
            <input type="text" name="image" v-model="input.imageUrl" placeholder="Image URL" required="true" />

            <hr>

            <label for="description">Description</label>
            <!-- <input type="text" name="description" v-model="input.desc" placeholder="Description" /> -->
            <textarea name="description" v-model="input.desc" placeholder="Description" required="true" maxlength="500"/>

            <button type="submit">Register</button>
        </form>
        
    </div>
</template>

<script>
var axios = require('axios')

export default {
    name: 'Register',
    data() {
        return {
            input: {
                first_name: "",
                last_name: "",
                town: "",
                dob: "",
                image_url: "",
                desc: "",
                mail: "",
                pass: "",
            }
        }
    },
    methods: {
        sendToRegister() {
            let tempData = {

                name: this.input.first_name,
                last_name: this.input.last_name,
                city: this.input.town,
                date_of_birth: this.input.dob,
                image_url: this.input.imageUrl,
                description: this.input.desc,
                email: this.input.mail,
                password: this.input.pass 
                
            };
            axios
            .post('http://localhost:8080/user/create', 
            tempData).then(() => {
                this.$router.push({ path: "/login"})

            }).catch((err) => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped>
    #register {
        padding: 20px;
        width: 50%;
        margin: 0 auto;
    }

    input {
        display: block;
        width: 100%;
        height: 20px;
        padding: 10px 20px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
    }

    textarea {
        width: 100%;
        box-sizing: content-box;
        padding: 10px 20px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        font-size: 13px;
        min-height: 60px;
        max-height: 230px;
        resize: vertical;
    }

    label {
        text-align: left;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #8e8e8e;
        font-weight: bold;
        font-size: 13px;
    }

    button {
        width: 100%;
        display: block;
        box-sizing: content-box;
        padding: 10px 20px;
        height: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #1fc347;
        background-color: #59fb81;
        color: #004f14;
        transition: .1s all;
    }

    button:hover {
        cursor: pointer;
        background-color: #2ad053;
    }

    hr {
        border-top: 1px solid white;
        color: #c3c3c3;
        margin: 20px;
        width: 100%;
    }

    h1 {
        padding-left: 0;
    }
</style>