<template>
    <div class="user">
        <UserComp :user="data" />
    </div>
</template>

<script>

import UserComp from '@/components/UserComp.vue'
import axios from 'axios'

export default {

    name: 'User',
    data() {
        return {
            data: {},
            success: false
        }
    },
    mounted() {
        axios.get('http://localhost:8080/user/' + this.$route.params.id)
            .then(result => {
                this.data = result.data[0];
                this.success = true;
            });
    },
    components: {
        UserComp
    }

}
</script>
