<template>
    <div id="app">
        <div id="nav">
        <my-header>
            <router-link to="/">
                <h1>
                    <font-awesome-icon icon="pastafarianism" /> Follower
                </h1>
            </router-link>
            <router-link v-show="!active" to="/login">Login</router-link>
            <router-link v-show="!active" to="/register">Register</router-link>
            <router-link v-show="active" to="/dashboard">Dashboard</router-link>
            <router-link v-show="active" to="/feed">Follower Feed</router-link>
            <button v-show="active" @click="logout">Logout</button>
            
        </my-header>
        </div>
    <router-view/>
    </div>
</template>


<script>
import Header from '@/components/HeaderComp.vue';
export default {
    name: 'App',
    data() {
        return {
            active: false
        }
    },
    components: {
        'my-header':Header
    },
    mounted() {
       this.checkLoggedIn();
    },
    updated() {
       this.checkLoggedIn();
    },
    methods: {
        logout() {
            sessionStorage.removeItem("id")
            this.$router.push({ path: "/login"})
            this.active = false;      
        },
        checkLoggedIn() {
            if(sessionStorage.getItem('id')){
                this.active = true;
            } 
        }
    }
}
</script>

<style>
    body {
        margin:0;
        padding:0;
    }

    #nav a, #nav a h1 {
        color: #700a0a;;
        text-decoration: none;
        font-weight: bold;
        /* color: #2c3e50; */
    }

    #nav a h1 {
        padding: 0;
        margin: 0;
        text-align: left;
        padding: 20px;
        top: 45px;
        position: relative;
    }

    #nav a {
        padding-right: 20px;
        position: relative;
        top: -55px;
        text-align: right;
        padding: 10px 20px;
    }

    #nav button {
        border: none;
        background-color: transparent;
        color: #700a0a;;
        font-size: 16px;
        font-weight: bold;
        font-family: arial;
        margin: 0;
        padding: 0;
        padding: 10px 20px;
        position: relative;
        top: -55px;
    }

    #nav button:hover {
        cursor: pointer;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: black;
    }

    #nav a.router-link-exact-active {
        text-decoration: underline;
    }

    h1 {
        text-align: left;
        padding-left: 20px;
    }
</style>
