<template>
    <div class="HeaderComp">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'HeaderComp',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .HeaderComp {
        background: rgb(254,0,0);
        background: linear-gradient(45deg, rgba(254,0,0,1) 0%, rgba(131,0,133,1) 100%);
        width: 100%;
        height: 100px;
        color: white
    }

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

</style>
