<template>
    <div class="userList">
        <div class="matchesList">
            <div v-show="matches.length > 0" class="userBubble" v-for="(match, index) in matches" :key="index" @click="goToUser(match.user_id)">
                <img :src="match.image_url" :alt="getFullName(match)" />
                <p class="name"> {{ getFullName(match) }} <br><span class="age"> {{ getAge(match) }} </span></p>
                <p class="city"> {{ match.city }} </p>
            </div>
        </div>
        <div v-show="matches.length === 0">
            No matches found
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'UserList',
    props: {
        userID: Number,
    },
    data() {
        return {
            matches: [],
            success: false,
        }
    },
    mounted() {
        axios.get(`http://localhost:8080/user/${this.userID}/matches`)
            .then(result => {
                this.matches = result.data;
                this.success = true;
            })
    },
    methods: {
        getAge(user) {
            return new Date (Date.now()).getFullYear() - new Date(user.date_of_birth).getFullYear();
        },
        getFullName(user) {
            return `${user.name} ${user.last_name}`;
        },
        goToUser(userID) {
            this.$router.push({path: `/user/${userID}`})
        }
    }
}
</script>

<style scoped>
    .userList {
        width: 50%;
        margin: 0 auto;
    }

    .matchesList {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .userBubble {
        transition: .1s all;
        border-radius: 5px;
        padding: 10px;
    }

    .userBubble:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 0%, 0.11);
    }

    img {
        max-width: 100%;
        border-radius: 50%;
    }

    .name {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .age {
        font-weight: lighter;
        color: #808080;
    }

    .city {
        color: #9f9f9f;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        margin:0;
    }


</style>
