<template>
    <div class="user" :class="{ hoverable: expandable }" @click="expand">
        <img :src="user.image_url" :alt="fullname" />
        <h2>{{ fullname }} 
            <span class="small age">{{ age }}</span>
            <span class="small city">{{ user.city }}</span>
        </h2>
        <p class="description" v-show="!small">{{ user.description }}</p>
        <p class="small member" v-show="!small">Member since {{ memberDate }}</p>
    </div>
</template>

<script>
export default {
    name: 'User',
    props: {
        user: Object,
        expandable: Boolean,
        compact: Boolean,
    },
    data() {
        return {
            small: this.compact,
        }
    },
    methods: {
        expand() {
            if (this.expandable) {
                this.small = !this.small;
            }
        }
    },
    computed: {
        fullname() {
            return this.user.name + " " + this.user.last_name;
        },
        age() {
            return new Date(Date.now()).getFullYear() - new Date(this.user.date_of_birth).getFullYear();
        },
        memberDate() {
            // Checking that member_since exists on the object, it should exist on all user requests, but it doesn't for some reason
            // I have no time to trouble shoot it now though.
            if (this.user['member_since']) {
                return new Date(this.user['member_since']).toISOString().substring(0, 10);
            } else {
                return "Not available";
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .user {
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        width: 25%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .small {
        color: #808080; 
        font-size: 16px;
    }

    .member {
        font-size: 13px;
        text-align: left;
        margin-left: 20px;
    }

    .age {
        grid-area: age;
        position: relative;
        top: 5px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: lighter;
    }

    .description {
        padding: 0 20px;
        text-align: left;
        line-height: 1.4;
    }

    .city {
        margin: 0;
        font-size: 16px;
        text-align: right;
        grid-area: location;
        position: relative;
        margin-right: 20px;
        color: #9f9f9f;
        top: 9px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 5px;
        text-align: left;
        padding-left: 20px;
        display: grid;
        grid-area: title;
        grid-template-areas: "title age location";
        grid-template-columns: auto 1fr 1fr;
    }

    p {
        color: #000;
    }

    .hoverable:hover {
        cursor: pointer;
        background-color: #f4f4f4;
    }

</style>
